
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body{
  
}

html {
    font-family: "Lucida Sans", sans-serif;
}
.container{
  width: 100%;

}
.header {
    /* background-color: #9933cc;
    color: #ffffff;
    padding: 15px; */
}
/*Global Navigation Start************************/
.global-navigation {
    display: block;
    background-color: #000000;
    color: #fff;
    height: 40px;
    padding: 0 0px;
    line-height: 40px;
    text-align: center;
}
.user-icon:before{
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #fff;
    font-size: 18px;
    padding-right: 0.5em;
}
/*Global Navigation Start************************/

/*Search Panel Navigation Start************************/
.header-search {
    background-color: #ffffff;
    color: #000000;
    height: 50px;
    padding: 0 0px;
    line-height: 50px;
    text-align: center;
    align-content: center;
}
.menu-icon{
    margin-top: 8px;
}

.menu-icon-line{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    color: blue;
    font-size: 4;
    line-height: 5px;
}

.menu-icon-text{
    width: 35px;
    height: 15px;
    margin: 6px 0;
    color: black;
    text-align: center;
    font-size: 12px;
    line-height: 10px;
}

.search-box-div{
  height: 34px;
  width: calc(100%);
  margin-top: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 4px;
}

.search-input-box{
  height: 32px;
  width: calc(85%);
  margin: 0 2px;
  border-width: 0px;
  border-style: none;
  border-color: #fff;
  border-radius: 0px;
}

.global-search-icon{
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    margin-right: 10px;
    top:8px;
}
/*Global Navigation Start************************/

/*Brand Panel Navigation Start************************/
.header-shops {
    background-color: #25442d;
    color: #ffffff;
    height: 50px;
    padding: 0 0px;
    line-height: 50px;
    text-align: center;
    align-content: center;
}

.navbar1 {
    background-color: mediumseagreen;
    font-family: Arial;
}

.nav-item{
    padding: 0;
    list-style: none;
}
.nav-category{
    color: #000;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 10px;
    font-weight: bold;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,"sans-serif";
    letter-spacing: .05em;
    vertical-align: middle;
}

.nav-list{
    color: #000;
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: none;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,"sans-serif";
    letter-spacing: .05em;
    vertical-align: middle;
}

.navbar-li li{
    display: inline-block;
    
}

.nav-sub-item{
    padding: 0;
    list-style: none;
}


.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar1 a:hover, .dropdown1:hover .dropbtn {
    background-color: #25442d;
}

.dropdown-content {
    display: none;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}


.dropdown1:hover .dropdown-content {
    display: block;
}

/* Create three equal columns that floats next to each other */
.dropdown-column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 250px;
}

.dropdown-column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.dropdown-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .dropdown.column {
        width: 100%;
        height: auto;
    }
}

/*Shop navigation ENDS*/

/*Brand Navigation End************************/

/*Item formatting in Carousel */
.MultiCarousel .MultiCarousel-inner .item {
   float: left;
   
   border-style: solid;
   border-width: 2px;
   border-color: #ffffff;
}

.MultiCarousel .MultiCarousel-inner .item .item-inner{
   border-style: solid;
   border-color: #c7c7c7;
   border-width: 1px; 
}
.img-div{
    background-color: #F0F0F0;
}
.item-img{
  width: auto;
  height: auto; 
  display: block; 
  margin: auto;
}

.product-info{
    border-top-style: solid;
    border-color: #ffffff;
    border-top-width: 2px;
    bottom:0px;

}

.product-brand {
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-left: 4px;
    letter-spacing: .05em;
}

.product-name {
    color: #000;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-family: Lato,"Helvetica Neue",Helvetica,Arial,"sans-serif";
    letter-spacing: .05em;
    height: 35px;
    vertical-align: middle;


}

.product-price{
    text-align: center;
    font-size: 12px;
    letter-spacing: .05em;
}

.sale-price {
    color: #CC0000; 
    font-weight: bold;
}

.reg-price {
    color: #606060;
    text-decoration: line-through;
    padding-left: 4px;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}
/*Item formatting END*/

/*Pre Carousel Formatting START*/
.center-panel-ad-block {
    background-color: #008000;
    color: #fff;
    height: 100px;
    padding: 0 25px;
    line-height: 40px;
    text-align: center;
}


/*Pre Carousel Formatting END*/

/*Carousel formatting*/
.store-name {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px

}

.MultiCarousel { 
  float: left; 
  overflow: hidden; 
  padding-top: 15px; 

  width: 100%; 
  position:relative; 
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all; 
  float: left; 
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
   position:absolute; 
   top:calc(50% - 20px); 
   font-size: 44px;
   color: #ffffff;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
}

.MultiCarousel .leftLst:hover, .MultiCarousel .rightLst:hover {
   font-size: 54px;
   color: #ffffff;
   font-family: FontAwesome;
   font-style: normal;
   font-weight: normal;
   text-decoration: inherit;
}

.MultiCarousel .leftLst { 
  left:0; 

}

.leftLst:before {
    content: "\f053";
    
}

.MultiCarousel .rightLst { 
  right:0; 
}

.rightLst:before {
    content: "\f054";
    
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; 
  color: #ccc; 
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*Carousel formatting END*/

/* Side panel formatting START*/
.left-panel {
margin-left: 10px;
}

.badge {
  display: inline;
}

#accordion .glyphicon {
    margin-right:10px; 
}

.panel-collapse>.list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}

.panel-collapse>.list-group {
    margin-bottom: 0;
}

.panel-collapse .list-group-item {
    border-radius:0;
}

.panel-collapse .list-group .list-group {
    margin: 0;
    margin-top: 10px;
}

.panel-collapse .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item:last-child {
    padding-bottom: 0;
}

.panel-collapse div.list-group div.list-group{
    margin: 0;
}

.panel-collapse div.list-group .list-group a.list-group-item {
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
}

.panel-collapse .list-group-item li.list-group-item {
    border-top: 1px solid #DDD !important;

}


/* Hide the browser's default checkbox */
.list-group-item input {
    position: absolute;
    opacity: 0;
}

.panel-collapse .list-group-item {
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 18px;
    width: 18px;
    border-radius: 4px;
    border: 1px solid black;

}

/* On mouse-over, add a grey background color */
.list-group-item:hover .checkmark:hover {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.list-group-item input:checked ~ .checkmark {
    /*background-color: #2196F3;*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.list-group-item input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.list-group-item .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*Side panel formatting END*/


.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}



