
/*Item formatting in Carousel */
.MultiCarousel .MultiCarousel-inner .item {
   float: left;
}

.product-brand {
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

.product-name {
    color: #000;
    text-align: center;
    font-size: 10px;
}


.sale-price {
    color: #990000;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.reg-price {
    color: #555;
    text-align: center;
    font-size: 12px;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}
/*Item formatting END*/

/*Carousel formatting*/
.MultiCarousel { 
  float: left; 
  overflow: hidden; 
  padding: 15px; 
  width: 100%; 
  position:relative; 
}

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all; 
  float: left; 
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
   position:absolute; 
   border-radius:50%;
   top:calc(50% - 20px); 
}

.MultiCarousel .leftLst { 
  left:0; 
}

.MultiCarousel .rightLst { 
  right:0; 
}
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; 
  background:#ccc; 
}
/*Carousel formatting END*/

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

/*
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}
.side-panel {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
*/
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}


